.primary_btn {
    padding: 18px 10px;
    width: 220px;
    height: 44px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.outline_btn {
    padding: 18px 10px;
    border: 1px solid black;
    width: 100%;
    height: 44px;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}